.move-item-page {
  position: relative;
  background: blue;
  min-height: 20em;
  margin: 4em;
  
  .draggable-item {
    position: absolute;
    top: 1em;
    left: 1em;
    background: #acbef1;
    width: 4em;
    height: 4em;
  }
}
